*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}

i,select{
    cursor: pointer;
}

.container{
    height: 100vh;
}  

.container .title-section{  
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 4%;
    background-color: #27ae60;
    text-align: center;
    line-height: 2.4rem;
}

.container .menu-bar-section{
    display: flex;
    align-items: center;
    height: 4%;
    background-color: white;
}

.container .menu-bar-section .fileOptions,
.container .menu-bar-section .helpOption{
    margin-left: 3rem;
    color: black;
    height: 100%;
    line-height: 3rem;
    cursor: pointer;
}

.container .menu-bar-section .fileOptions:hover, .container .menu-bar-section .fileOptions:active,
.container .menu-bar-section .helpOption:hover, .container .menu-bar-section .helpOption:active{
    background-color: #27ae60;
}

.container .menu-options-section{
    height: 8%;
    background-color: #2ecc71;
    display: flex;
}

.container .menu-options-section .styles,
.container .menu-options-section .font,
.container .menu-options-section .alignment,
.container .menu-options-section .color{
    display: flex;
    width: 25%;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid;
}

.container .menu-options-section .font{
    width: 31%;
}

.container .formula-section{
    height: 4%;
    display: flex;
}

.container .formula-section .selected-cell-div{
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid ;
    background-color: white;
}

.container .formula-section input{ 
    display: block;
    /*Input is made display block because by default it is inline block and we do so because 
    parent is made display-flex
    and to maintain order it is made display block */
    width: 80%;
    height: 100%;
    border: 1px solid;
    padding-left: 1rem;
    font-size: 1.4rem;
    font-family: 'Montserrat', sans-serif;
}

.container .grid{
    height: 76%; 
    overflow: auto;
    position: relative;
}

.container .grid .blank-corner{
    height: 30px;
    width: 30px;
    background-color: gray;
    position: fixed;
    top: 20vh;
    z-index: 5;
}

.container .grid .row-number-section{
    display: inline-block;/*added so row numbers don't take full space*/
    position: fixed;
    top: calc(20vh + 30px);/*20vh from top and 30px heigth of blank corner*/
    left: 0;
    z-index: -10;
}

.row-number{
    height: 30px;
    width: 30px; 
    background-color: #27ae60;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid ;
}

.container .grid .column-tag-section{
    height: 30px;
    position: fixed;
    top: 20vh;
    /* width: 100vh; No need for width  */
    left: 30px;
    display: flex;
    z-index: -10;
}

.column-tag{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 30px;
    background-color: #27ae60;
    border-right:1px solid ;
    color: white;
    flex-shrink: 0;/*display-flex has a property to fit every children in given width by shrinking children
    To stop this we give flex-shrink so each child covers defined width*/
}

.container .sheet-section{
    height: 4%;
    background-color: #2ecc71;
}

.container .grid .cell-section{
    height: calc(76vh - 30px);/*grid height - blank corner height */
    /* Or height: calc(100vh - (24vh + 30px)); */
    /*total height - (whole navbar + sheet-section) + blank corner */
    width: calc(100vw - 30px);
    position: absolute;
    left: 30px;
    top: 30px;
    overflow: auto;
}  

.cell{
    width: 80px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.411);
    flex-shrink: 0; 
    font-size: 15px;
}

.cell-selected{
    border: 2px solid rgba(0, 0, 0, 0.925);
}

.row{
    display: flex;
}

.fileList{
    margin-left: 0;
    position: absolute;
    /* position: relative; */
    border: 1px solid;
    background-color: white;
    width: 6rem;
    height: 5rem;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 6rem;
}

.fileList div{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2rem;
}

.fileList div:first-child{
    border-bottom: 1px solid;
}

.fileList div:hover{
    background-color: #2ecc71;
}

/* .modal-content {
    height: 25rem;
    display: none;
    width: 35rem;
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    background-color: #27ae60;
    z-index: 2;
  }*/
.modal{
    z-index: 1;
    width: 100%; 
    height: 100%; 
    background-color: tomato;
    /* background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);  */
}
